/*  */
/* FONTS */
/*  */
@font-face {
    font-family: "Lato-Light";
    src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: "Lato-Thin";
    src: url(../fonts/Lato/Lato-Thin.ttf);
}
@font-face {
    font-family: "Lato-Regular";
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato-Bold";
    src: url(../fonts/Lato/Lato-Bold.ttf);
}
/*  */
/* FONTS END */
/*  */


/*  */
/* HEADER */
/*  */
header{
    background-color: #112E3E;
}
header li:not(:first-child){
    border-left: 2px solid white;
    
}
header ul li{
    padding: 0 3.5%;
}

.font{
    color: white;
    font-family: "Lato-Regular";
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 100%;
    padding: 0%;
    letter-spacing: 2.5px;
}
.font:hover{
    color: #edd154;
}
/*  */
/* HEADER END */
/*  */


/*  */
/* MAIN */
/*  */
    /*  */
    /* CARROUSSEL */
    /*  */

.renovPosition{
    letter-spacing: 4px;
    position: absolute;
    display: inline-block;
    left: -4%;
    bottom: 850%;
    font-family: "Lato-Light";
    font-weight: 700;
    font-size: 3rem;
}
.renovPosition2{
    letter-spacing: 4px;
    position: absolute;
    display: inline-block;
    left: -4%;
    bottom: 660%;
    font-family: "Lato-Light";
    font-weight: 700;
    font-size: 3rem;
    color: #edd154;
}
    /*  */
    /* CARROUSSEL END*/
    /*  */

    /*  */
    /* ENTERPRISE*/
    /*  */
.padding1{
    padding: 3vh 0;
}
.padding2{
    padding: 3vh 0;
}
.font1{
    letter-spacing: 1px;
    font-size: 2.3rem;
    font-family: "Lato-Regular";
    font-weight: bolder;
}
.font2{
    font-size: 1.6rem;
    line-height: 25px;
}
.font3{
    font-size: 1.2rem;
}
.btnperso{
    background-color: #112E3E;
    color: white;
    font-family: "Lato-regular";
    font-size: 1.5rem;
    padding: 15px 40px;
    border-radius: 5px;
    margin: 5vh 0 3vh;
}

    /*  */
    /* ENTERPRISE END*/
    /*  */

    /*  */
    /* RÉALISATION */
    /*  */
.padding3{
    padding: 7vh 0;
}
    /*  */
    /* RÉALISATION END*/
    /*  */

    /*  */
    /* CONTACT */
    /*  */
.padding4{
    padding: 0 0 5vh;
}
.padding5{
    padding: 5vh 0;
}
    /*  */
    /* CONTACT END*/
    /*  */
/*  */
/* MAIN END*/
/*  */


/*  */
/* FOOTER */
/*  */
footer{
    background-color: #112E3E;
}
footer ul{
    display: flex;
}
/*  */
/* FOOTER END*/
/*  */

