/*  */
/* FONTS */
/*  */
@font-face {
    font-family: "Lato-Light";
    src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: "Lato-Thin";
    src: url(../fonts/Lato/Lato-Thin.ttf);
}
@font-face {
    font-family: "Lato-Regular";
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato-Bold";
    src: url(../fonts/Lato/Lato-Bold.ttf);
}



/*  */
/* HEADER */
/*  */
header{
    background-color: #112E3E;
}
header li:not(:first-child){
    border-left: 2px solid white;
}

header ul li{
    padding: 0 3.5%;
}

.headernav{
    color: white;
    font-family: "Lato-Regular";
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 100%;
    padding: 0%;
    letter-spacing: 2.5px;
}
.headernav:hover{
    color: #edd154;
}

/*  */
/* MAIN */
/*  */
/*  */
/* CAROUSEL */
/*  */
#carousel img{
    height: 500px;
    object-fit: cover;
}
.carouselTitle1{
    letter-spacing: 4px;
    position: absolute;
    display: inline-block;
    left: -4%;
    bottom: 730%;
    font-family: "Lato-Light";
    font-weight: 700;
    font-size: 3rem;
}
.carouselTitle2{
    letter-spacing: 4px;
    position: absolute;
    display: inline-block;
    left: -4%;
    bottom: 560%;
    font-family: "Lato-Light";
    font-weight: 700;
    font-size: 3rem;
    color: #edd154;
}

/*  */
/* ENTERPRISE*/
/*  */


.enterpriseTop{
    padding: 3vh 0;
}

.enterpriseTopTitle{
    letter-spacing: 1px;
    font-size: 2.3rem;
    font-family: "Lato-Regular";
    font-weight: bolder;
}
#enterprise h3{
    margin-top: 20px;
}

.enterpriseTopSubTitle{
    font-size: 1.6rem;
    line-height: 25px;
}

.enterpriseTopParagraphe{
    font-size: 1.2rem;
}

.btnperso{
    background-color: #112E3E;
    color: white;
    font-family: "Lato-regular";
    font-size: 1.5rem;
    padding: 15px 40px;
    border-radius: 5px;
    margin: 5vh 0 3vh;
}

/*  */
/* RÉALISATION */
/*  */

#achievement h3{
    margin-top: 20px;
}
.achievements{
    padding: 5rem 0;
}

/*  */
/* CONTACT */
/*  */

#contact h3 {
    margin-top: 20px;
}
.contactTop{
    padding: 3rem 0 5rem;
}
.contactSubSTop{
    padding: 1rem 0;
}
.contactTitle{
    padding: 5%;
}
.contactParagraphe{
    line-height: 3%;
}

/*  */
/* FOOTER */
/*  */
footer{
    background-color: #112E3E;
    padding: 2rem 3rem;
    color: white;
}
footer ul{
    display: flex;
}
footer img{
    width: 90%;
}
.footerMiddle{
    font-size: 1.2rem;
    padding-top: 1rem;
    margin-right: 4rem;
    
}
footer ul>li{
    list-style: none;
    
}
.footerRight{
    width: 25%;
    padding: 1rem 1rem;
    border-left: 2px solid white;
    line-height: 100%;
}
.footerRight img{
    width: 50px;
    padding: 0 5px;
}
footer ul{
    padding: 0;
}